<!DOCTYPE html>
<html lang="vi">

<head>
  <title>Thông tin công ty và lãnh đạo chủ chốt của FPT Online</title>
  <meta name="description" content="">
  <meta name="keyword" content="fpt online, công ty fpt online">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="telephone=no">
  <meta name="robots" content="noodp,index, follow">
  <link rel="shortcut icon" href="images/favicon.ico">
  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta name="theme-color" content="#fafafa">
  <meta name="color-scheme" content="light">
  <!-- Fonts Page -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

  <!-- Style Page -->
  <link rel="preload" as="style" type="text/css" href="css/styles.min.css?v=100">
  <link rel="stylesheet" href="css/styles.min.css?v=100">
  <link rel="preload" as="script" type="text/javascript" href="js/bundle.min.js?v=100">

  <script type="text/javascript">
    var domReadyQueue = [];
  </script>
  <link type="text/css" rel="stylesheet" href="css/toolkit.min.css">
</head>

<body class="fptOnline" id="body_fpt_online" data-height-small="false" itemscope itemtype="http://schema.org/WebPage">
  <div class="load"><span class="loading"></span></div>

  <header class="header header-sticky">
    <div class="header-main">
      <div class="container">
        <div class="row">
          <div class="header-main-inner">
            <div class="header-left">
              <button class="box-btn-show-menu" id="btn_show_menu" onclick="showMenu();" aria-label="Show menu">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="box-logo">
                <a class="logo logo--dark" href="index.html" title="FPT Online">
                  <img src="images/logo.svg" alt="FPT Online">
                </a>
                <a class="logo logo--light d-none" href="index.html" title="FPT Online">
                  <img src="images/logo-white.svg" alt="FPT Online">
                </a>
              </div>
              <button class="box-btn-show-search btn_showSearch" aria-label="Show search">
                <span class="btn-show-search"></span>
              </button>
            </div>

            <div class="header-right">
              <div class="header-right-inner">
                <ul class="list-menu-cate">

                  <li class="item-menu-cate">
                    <a class="menu-link active" href="index.html" title="">
                      <span class="menu-name">Trang chủ</span>
                    </a>
                  </li>
                  <li class="item-menu-cate">
                    <a class="menu-link" href="solution.html" title="">
                      <span class="menu-name">Giải pháp</span>
                    </a>
                    <ul>
                      <li><a href="#">Giải pháp 01</a></li>
                      <li><a href="#">Giải pháp 02</a></li>
                      <li><a href="#">Giải pháp 03</a></li>
                    </ul>
                  </li>
                  <li class="item-menu-cate">
                    <a class="menu-link" href="partner.html" title="">
                      <span class="menu-name">Đối tác</span>
                    </a>
                  </li>
                  <li class="item-menu-cate">
                    <a class="menu-link" href="community-relations.html" title="">
                      <span class="menu-name">Quan hệ cổ đông</span>
                    </a>
                  </li>
                  <li class="item-menu-cate">
                    <a class="menu-link" href="recruitment.html" title="">
                      <span class="menu-name">Tuyển dụng</span>
                    </a>
                  </li>
                  <li class="item-menu-cate">
                    <a class="menu-link" href="about-us.html" title="">
                      <span class="menu-name">Giới thiệu</span>
                    </a>
                  </li>
                  <li class="item-menu-cate btn-menu">
                    <span class="menu-link btn_showSearch" title="Tìm kiếm"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="search_area" id="search_area">
    <div class="container">
      <div class="search-area-inner">
        <form action="search.html" method="post" class="form-search">
          <div class="form-group">
            <div class="easy-autocomplete" style="width: 100%; ">
              <input class="input-search" name="keyword" value="" type="search" id="input-search-mb" placeholder="Tìm kiếm..." autocomplete="off">
              <div class="easy-autocomplete-container" id="eac-container-input-search-mb">
                <ul style="display: none;">
                  <li>
                    <div class="eac-item">
                      <a href="#" title="">
                        <img src="images/no-image.jpg" alt=""> Kết quả tìm kiếm 1
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="eac-item">
                      <a href="#" title="">
                        <img src="images/no-image.jpg" alt=""> Kết quả tìm kiếm 2
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <button class="btn-search"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Start - Content Page Area -->
  <main class="main page-content" role="main">

    <div class="container page-toolkit" id="app">

      <div class="col">

        <div class="box">
          <h3>Colors <small><span>Pro Tip</span>Edit Hex codes</small></h3>
          <div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-1)"></span>
                <div class="edit">
                  <strong>--primary-1</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-1']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.first }" @click="examplesToggle.first = !examplesToggle.first">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-1')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-1')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-2)"></span>
                <div class="edit">
                  <strong>--primary-2</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-2']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.second }" @click="examplesToggle.second = !examplesToggle.second">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-2')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-2')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-3)"></span>
                <div class="edit">
                  <strong>--primary-3</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-3']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.third }" @click="examplesToggle.third = !examplesToggle.third">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-3')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-3')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-4)"></span>
                <div class="edit">
                  <strong>--primary-4</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-4']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.four }" @click="examplesToggle.four = !examplesToggle.four">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-4')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-4')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-5)"></span>
                <div class="edit">
                  <strong>--primary-5</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-5']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.five }" @click="examplesToggle.five = !examplesToggle.five">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-5')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-5')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-6)"></span>
                <div class="edit">
                  <strong>--primary-6</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-6']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.six }" @click="examplesToggle.six = !examplesToggle.six">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-6')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-6')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-7)"></span>
                <div class="edit">
                  <strong>--primary-7</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-7']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.seven }" @click="examplesToggle.seven = !examplesToggle.seven">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-7')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-7')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-8)"></span>
                <div class="edit">
                  <strong>--primary-8</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-8']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.eight }" @click="examplesToggle.eight = !examplesToggle.eight">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-8')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-8')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-9)"></span>
                <div class="edit">
                  <strong>--primary-9</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-9']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.nine }" @click="examplesToggle.nine = !examplesToggle.nine">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-9')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-9')"></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--primary-10)"></span>
                <div class="edit">
                  <strong>--primary-10</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--primary-10']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
              <div v-bind:class="{ examples: true, open: examplesToggle.ten }" @click="examplesToggle.ten = !examplesToggle.ten">
                <span><i></i><i></i></span>
                <div>
                  <ul>
                    <li v-for="color in codepenChallange" :style="'--color: ' + color" @click="setColor(color, '--primary-10')"></li>
                  </ul>
                  <ul>
                    <li v-for="color in examples" :style="'--color: ' + color" @click="setColor(color, '--primary-10')"></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="box">
          <div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--border)"></span>
                <div class="edit">
                  <strong>--border</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--border']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--border-hover)"></span>
                <div class="edit">
                  <strong>--border-hover</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--border-hover']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--text-color)"></span>
                <div class="edit">
                  <strong>--text-color</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--text-color']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
            </div>

            <div class="demo-color">
              <div class="preview">
                <span style="--background: var(--text-color-headline)"></span>
                <div class="edit">
                  <strong>--text-color-headline</strong>
                  <div class="input">
                    <input class="form-field" v-model="colors['--text-color-headline']" maxlength="7" type="text">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col">

        <div class="box">
          <h3>Checkbox &amp; Radio</h3>
          <div>
            <div class="demo-toggle">

              <label class="checkbox">
                <input type="checkbox" checked>
                <span>Checkbox</span>
              </label>
              <label class="checkbox">
                <input type="checkbox">
                <span>Checkbox</span>
              </label>

            </div>
            <div class="demo-toggle">

              <label class="radio">
                <input type="radio" name="r" value="1" checked>
                <span>Radio</span>
              </label>
              <label class="radio">
                <input type="radio" name="r" value="2">
                <span>Radio</span>
              </label>

            </div>
            <div class="demo-toggle">

              <label class="switch">
                <input type="checkbox" checked>
                <span>Switch</span>
              </label>
              <label class="switch">
                <input type="checkbox">
                <span>Switch</span>
              </label>

            </div>

            <div class="radioGroup" style="--color: var(--primary-2)">
              <label>
                <input type="radio" name="r2" value="1" checked>
                <span>Radio</span>
              </label>
              <label>
                <input type="radio" name="r2" value="2">
                <span>Radio</span>
              </label>
              <label>
                <input type="radio" name="r2" value="3">
                <span>Radio</span>
              </label>
            </div>

          </div>
        </div>

        <div class="box">
          <h3>Buttons</h3>
          <div>
            <div class="demo-button">

              <a href="" class="btn" style="--color: var(--primary-2)">Dribbble</a>
              <a href="" class="btn"><i data-eva="twitter"></i>Twitter</a>
              <a href="" class="btn icon" style="--color: var(--primary-3)"><i data-eva="arrow-circle-down-outline"></i></a>

            </div>
            <div class="demo-button">

              <a href="" class="btn sm" style="--color: var(--primary-2)">Small Button</a>
              <a href="" class="btn sm"><i data-eva="at-outline"></i>Mail</a>
              <a href="" class="btn sm icon" style="--color: var(--primary-3)"><i data-eva="bell-outline"></i></a>

            </div>
            <div class="demo-button">

              <a href="" class="btn border" style="--color: var(--primary-2)">Outline</a>
              <a href="" class="btn border"><i data-eva="color-palette-outline"></i>Colors</a>
              <a href="" class="btn border icon" style="--color: var(--primary-3)"><i data-eva="cube-outline"></i></a>

            </div>
            <div class="demo-button">

              <a href="" class="btn sm border" style="--color: var(--primary-2)">Small Outline</a>
              <a href="" class="btn sm border"><i data-eva="message-square-outline"></i>Chat</a>
              <a href="" class="btn sm border icon" style="--color: var(--primary-3)"><i data-eva="phone-call-outline"></i></a>

            </div>
          </div>
        </div>

      </div>

      <div class="col">

        <div class="box">
          <h3>Icon list</h3>
          <div>

            <ul class="iconList">
              <li>
                <a href="">
                  <div class="icon">
                    <i data-eva="clipboard-outline"></i>
                  </div>
                  <div class="text">
                    First list entry
                    <small>Lorem ipsum dolor sit amet</small>
                  </div>
                  <i data-eva="chevron-right-outline"></i>
                </a>
              </li>
              <li style="--color: var(--primary-2)">
                <a href="">
                  <div class="icon">
                    <i data-eva="heart-outline"></i>
                  </div>
                  <div class="text">
                    Another entry
                    <small>Lorem ipsum dolor sit amet</small>
                  </div>
                  <i data-eva="chevron-right-outline"></i>
                </a>
              </li>
              <li style="--color: var(--primary-3)">
                <a href="">
                  <div class="icon">
                    <i data-eva="flash-outline"></i>
                  </div>
                  <div class="text">
                    Last but not least
                    <small>Lorem ipsum dolor sit amet</small>
                  </div>
                  <i data-eva="chevron-right-outline"></i>
                </a>
              </li>
            </ul>

          </div>

        </div>

        <form class="box">
          <h3>Form</h3>
          <div>

            <div class="form-element">
              <label>Email</label>
              <input class="form-field" type="text" placeholder="hello@hello.com">
            </div>

            <button class="btn">
              <i data-eva="email-outline"></i>Sign up
            </button>

          </div>
        </form>

      </div>

    </div>
    <!-- dribbble -->
  </main>
  <!-- End - Content Page Area -->

  <footer class="footer_area" id="footer_area">
    <div class="footer-inner">
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-3">
              <a class="logo-footer" href="" title="">
                <img src="images/logo-footer.svg" alt="">
              </a>
            </div>
            <div class="d-none d-sm-block col-lg-2 col-md-3 col-sm-4">
              <div class="widget">
                <ul class="widget_links">
                  <li><a class="bold" href="index.html" title="">Trang chủ</a></li>
                  <li><a class="bold" href="solution.html" title="">Giải pháp</a></li>
                  <li><a class="bold" href="partner.html" title="">Đối tác</a></li>
                  <li><a class="bold" href="about-us.html" title="">Về chúng tôi</a></li>
                </ul>
              </div>
            </div>
            <div class="d-none d-sm-block col-lg-2 col-md-3 col-sm-4">
              <div class="widget">
                <ul class="widget_links">
                  <li><a class="bold" href="community-relations.html" title="">Quan hệ cổ đông</a></li>
                  <li><a class="bold" href="recruitment.html" title="">Việc làm</a></li>
                  <li><a class="bold" href="#" title="">Case Study</a></li>
                  <li><a class="bold" href="contact.html" title="">Liên hệ</a></li>
                </ul>
              </div>
            </div>
            <div class="d-none d-sm-block col-lg-2 col-md-3 col-sm-4">
              <div class="widget">
                <ul class="widget_links">
                  <li><a class="font-14" href="terms-policy.html" title="">Điều khoản sử dụng</a></li>
                  <li><a class="font-14" href="terms-policy.html" title="">Chính sách bảo mật</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-1 col-0">
              <div class="wrap-btn">
                <span class="btn-go-top" title="Về đầu trang"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom pb-3">
      <div class="container">
        <div class="row">
          <div class="col col-lg-4 col-md-3 col-sm-4 col-12 order-md-2">
            <ul class="list-socail-ft justify-content-sm-start">
              <li><a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#" target="_blank" title="Instagram +"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" target="_blank" title="Youtube"><i class="fab fa-youtube-square"></i></a></li>
            </ul>
          </div>
          <div class="col col-lg-8 col-md-9 col-sm-8 col-12 order-md-1">
            <div class="copyright text-sm-start">
              <p>© 2007-2022. Toàn bộ bản quyền thuộc về FPT Online</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <span class="btn-go-top back-to-top-badge back-to-top-small"><i class="fal fa-angle-up"></i></span>


  <!-- Start popup menu -->
  <aside class="aside_area" id="showNavSideMenu">
    <div class="bg_drop" onclick="showMenu();"></div>
    <nav class="nav-aside">
      <ul class="list-menu-cate">

        <li class="item-menu-cate">
          <a class="menu-link" href="index.html" title="">
            <span class="menu-name">Trang chủ</span>
          </a>
        </li>
        <li class="item-menu-cate">
          <a class="menu-link" href="solution.html" title="">
            <span class="menu-name">Giải pháp</span>
          </a>
        </li>
        <li class="item-menu-cate">
          <a class="menu-link" href="partner.html" title="">
            <span class="menu-name">Đối tác</span>
          </a>
        </li>
        <li class="item-menu-cate">
          <a class="menu-link" href="community-relations.html" title="">
            <span class="menu-name">Quan hệ cổ đông</span>
          </a>
        </li>
        <li class="item-menu-cate">
          <a class="menu-link" href="recruitment.html" title="">
            <span class="menu-name">Tuyển dụng</span>
          </a>

          <!-- <span class="btn-toggle active"></span>
        <ul class="menu-list-lv2 active">
            <li class="item-menu">
                <a href="#" title="Menu level 2">
                  Menu level 2
                </a>

                <span class="btn-toggle"></span>
                <ul class="menu-list-lv2">
                    <li class="item-menu">
                      <a href="#" title="Menu level 3">
                        Menu level 3
                      </a>
                    </li>
                </ul>

            </li>
        </ul> -->
        </li>
        <li class="item-menu-cate">
          <a class="menu-link" href="about-us.html" title="">
            <span class="menu-name">Giới thiệu</span>
          </a>
        </li>
        <li class="item-menu-cate">
          <a class="menu-link" href="contact.html" title="">
            <span class="menu-name">Liên hệ</span>
          </a>
        </li>
        <li class="item-menu-cate">
          <a class="menu-link" href="terms-policy.html" title="">
            <span class="menu-name">Điều khoản sử dụng</span>
          </a>
        </li>
        <li class="item-menu-cate">
          <a class="menu-link" href="terms-policy.html" title="">
            <span class="menu-name">Chính sách bảo mật</span>
          </a>
        </li>

      </ul>
      <ul class="list-socail-ft">
        <li><a href="#" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#" title="Twitter"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#" title="Instagram +"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" title="Youtube"><i class="fab fa-youtube-square"></i></a></li>
      </ul>
    </nav>
  </aside>
  <!-- End popup menu -->



  <script src="js/bundle.min.js?v=100"></script>



  <!-- build:jsOnlyPage -->
  <script src="https://unpkg.com/eva-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          colors: {
            '--primary-1': '#40A691',
            '--primary-2': '#092353',
            '--primary-3': '#F2F5F8',
            '--primary-4': '#FFFFFF',
            '--primary-5': '#000000',
            '--primary-6': '#3C3241',
            '--primary-7': '#212121',
            '--primary-8': '#FF4848',
            '--primary-9': '#757575',
            '--primary-10': '#635B67',
            '--border': '#CDD9ED',
            '--border-hover': '#99A3BA',
            '--text-color': '--primary-6',
            '--text-color-headline': '--primary-6'
          },
          codepenChallange: ['#40A691', '#092353', '#F2F5F8'],
          examples: ['#5628EE', '#8C6FF0', '#23C4F8', '#D93757', '#3FDC75', '#F6D87C'],
          examplesToggle: {
            first: false,
            second: false,
            third: false,
            four: false,
            five: false,
            six: false,
            seven: false,
            eight: false,
            nine: false,
            ten: false
          }
        }
      },
      methods: {
        cssVar(name, value) {
          document.documentElement.style.setProperty(name, value)
        },
        setColor(color, name) {
          this.colors[name] = color;
        }
      },
      watch: {
        colors: {
          handler(val) {
            for (var key in val) {
              if (val.hasOwnProperty(key) && /(^#[0-9A-F]{6}$)|(^#[0-9A-F]{3}$)/i.test(val[key])) {
                this.cssVar(key, val[key])
              }
            }
          },
          deep: true
        }
      }
    })

    eva.replace()
  </script>
  <!-- /build:jsOnlyPage -->

</body>

</html>